@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body,
.card-container,
button {
  font-family: 'Baloo 2', sans-serif;
}

header {
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.logo {
  font-size: 3rem;
}

.card-container {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.25fr));
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 1em;
  font-size: 1.5rem;
}

#add-btn {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  width: max(18%, 225px);
  background-color: lightgoldenrodyellow; /* TODO: change later, using to see */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#close-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 0.2em;
}

input[type=text],
input[type=number] {
  text-align: start;
  width: 11rem;
}

input {
  margin: 0.4em;
  padding: 0.5em;
}

.read-container {
  display: flex;
}

#submit-btn {
  margin-top: 1em;
}