@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body,
.card-container,
button {
  font-family: 'Baloo 2', sans-serif;
  background-color: #edf6f9;
}

header {
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #006d77;
}

button {
  background-color: #edf6f9;
  cursor: pointer;
}

.logo {
  font-size: 3rem;
}

.card-container {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.25fr));
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #ffddd2;
  /* color: #3d405b; */
  border-radius: 10px;
  box-shadow: 0 2px 5px gray;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card button {
  opacity: 0.8;
  transition: 0.3s;
}

.card button:hover {
  opacity: 1;
}

#read-btn,
#remove-btn {
  margin: 0.5em 0.5em 0 0.5em;
  width: 28%;
  border-radius: 8px;
}

#read-btn.has-read {
  background-color: #83c5be;
}

#read-btn {
  background-color: #e29578;
}

#add-btn {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px gray;
}

#form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  width: max(18%, 225px);
  background-color: lightgoldenrodyellow; /* TODO: change later, using to see */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#close-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 0.2em;
}

input[type=text],
input[type=number] {
  text-align: start;
  width: 11rem;
}

input {
  margin: 0.4em;
  padding: 0.5em;
}

.read-container {
  display: flex;
}

#submit-btn {
  margin-top: 1em;
}